<mat-card>
  <mat-card-title class="title">Compose Tweet</mat-card-title>
  <mat-card-content class="tweetbox">
    <textarea
      class="tweetarea"
      [class.error]="errorMessage && errorMessage.length > 0"
      #tweetarea
      [disabled]="isDisabled"></textarea>
    <mat-error *ngIf="errorMessage && errorMessage.length > 0">{{ errorMessage }}</mat-error>
  </mat-card-content>
  <mat-card-actions class="align-right">
    <span class="card-note">Maximum characters per tweet: {{ max }}</span>
    <button mat-button (click)="addTweet(tweetarea.value)" [disabled]="isDisabled">Tweet</button>
  </mat-card-actions>
</mat-card>
